@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnePiece</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="~/OnePiece.styles.css" asp-append-version="true" />
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor

    <header>
        @if (HttpContextAccessor.HttpContext?.Session?.GetString("PirateID") != null)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <!-- Menu pour les utilisateurs connectés -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" href="/Home/home">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Proposals/request">Requête</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Proposals">Historique</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Auth/Login">Déconnexion</a></li>
                    </ul>
                    <li class="nav-item" style="display: flex; gap:10px; align-items:center;">
                        <span class="nav-link">
                                Budget : @HttpContextAccessor.HttpContext?.Session?.GetString("Budget")฿
                        </span>
                        <a class="link-butt" href="/Pirates/Edit">Ajouter</a>
                    </li>
                </div>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - OnePiece - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>