@page
@model OnePiece.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}


<div class="login">
    <div class="content">
    <h2>Connectez-vous pour Découvrir de Nouveaux Horizons !</h2>
    <br/>
    <form method="post">
            <div class="form-group">
                <input asp-for="Input.Denomination" class="form-control" placeholder="Denomination" />
                <span asp-validation-for="Input.Denomination" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Mot de Passe"  />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-orange">Se Connecter</button>
    </form>
    </div>
</div>